// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Colors
$lt-blue: #3ae9dc;
$drk-blue: #3a9fe9;
$b-yellow: #e9dc3a;
$b-purple: #763ae9;
$drk-grey: #b6b3b3a1;
$off-white: #efefef;
